.v-table{
    height: 100%;
  }
.v-table__wrapper::-webkit-scrollbar{
  width: 5px;
  background-color: #AAA;
}
.v-table__wrapper::-webkit-scrollbar-thumb{
  background-color: #777;
}

*::-webkit-scrollbar{
    width: 7px;
    background-color: #AAA;
  }
*::-webkit-scrollbar-thumb{
  background-color: #777;
}